.game-board {
  display: inline-block;
  touch-action: none;
  transition: transform 0.8s ease-in-out;
  max-width: 100vw;
  max-height: calc(100vh - 20px);
}

.rotated {
  transform: rotate(180deg);
}

.flipped {
  transform: rotateX(180deg);
}
