<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div
  [ngStyle]="{
    visibility: started && (chatOpen$ | async) !== true ? 'visible' : 'hidden'
  }"
  #banner
  class="toplist-banner"
  (click)="bannerClick()"
>
  <div
    #bannerItems
    class="toplist-banner__items"
    [@scrollBanner]="{
      value: rollingState,
      params: { shown: shown, initial: initial }
    }"
    (@scrollBanner.done)="scrollFinished()"
  >
    <span class="type-label">{{ 'toplist.alltime' | translate }}:</span>
    <span
      class="toplist-banner__item"
      *ngFor="let item of reversedList"
      [ngClass]="{ you: item?.you }"
    >
      <ng-container *ngIf="item">
        <strong>
          {{ item.place }}. {{ getName(item) }}&nbsp;&nbsp;&nbsp;
        </strong>
        ({{ item.elo }})
      </ng-container>
    </span>

    <span class="type-label">{{ 'toplist.thisweek' | translate }}:</span>
    <span
      class="toplist-banner__item"
      *ngFor="let item of reversedListThisWeek"
    >
      <ng-container *ngIf="item">
        <strong>
          {{ item.place }}. {{ getName(item) }}&nbsp;&nbsp;&nbsp;
        </strong>
        ({{ item.elo }})
      </ng-container>
    </span>
  </div>
  <div class="toplist-banner__overlay banner-gradient"></div>
</div>
