@import '../../../../styles/styles.scss';

.toplist-banner {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  height: 25px;
  width: 340px;
  position: relative;
  padding-top: 5px;

  @include hovershadow;

  &__items {
    display: block;
    position: absolute;
  }

  &__item {
    margin-right: 40px;
  }

  &__overlay {
    display: block;
    // background-image: linear-gradient(to right, rgba(100, 0, 0, 1), rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 1));
    background-image: linear-gradient(to right, rgba(17, 17, 17, 1), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), rgba(17, 17, 17, 1));
    position: absolute;
    height: 20px;
    width: 340px;
    z-index: 1;
  }

  .you {
    color: rgb(251, 251, 116);
    text-shadow: 0 0 5px rgb(251, 251, 116);
  }
}
