@import url('https://fonts.googleapis.com/css2?family=Bebas%20Neue&display=swap');

* {
  font-family: Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #111;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@mixin button {
  background: none;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 4px;
  padding: 10px;
  color: #ddd;
  font-size: 22px;
  margin-bottom: 8px;

  &:hover,
  &:focus {
    -webkit-box-shadow: 0px 0px 6px 1px rgba(256, 256, 256, 0.3);
    -moz-box-shadow: 0px 0px 6px 1px rgba(256, 256, 256, 0.3);
    box-shadow: 0px 0px 6px 1px rgba(256, 256, 256, 0.3);
  }
}

.small-shadow-text {
  text-shadow: 1px 1px rgb(214, 214, 214);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  white-space: nowrap;
}

.glass {

  position: relative;
  display: inline-block;
  padding: 8px 16px;
  border-style: none;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(26, 26, 26));

  /* text styles */
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;

  border-radius: 10px;
  text-shadow: -1px -1px rgb(145, 145, 145);

  &:after {
    content: '';
    position: absolute;
    border-radius: 10px;

    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  }
}
