.player {
  max-width: 90%;
  font-size: 14px;
  position: relative;

  .user-photo {
    width: 100%;
    border-radius: 4px;
  }

  .initials {
    display: inline-block;
    border: 2px solid var(--text-color);
    background-color: rgba($color: white, $alpha: 0.1);
    text-align: center;
    width: 100%;
    font-size: 32px;
    padding-top: calc(50% - 16px);
    padding-bottom: calc(50% - 16px);
    border-radius: 4px;
  }

  .double-cube {
    display: block;
    width: 24px;
    height: 24px;
    background: rgb(31, 31, 97);
    line-height: 24px;
    text-align: center;
    color: white;
    border-radius: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
