<div class="game-container">
  <div class="messages" #messages>
    <app-messages
      [initial]="width"
      [shown]="messageCenter"
      [message]="message"
    ></app-messages>
  </div>
  <button class="abort-button" (click)="abortGame()">Resign</button>
  <app-menu class="app-menu"></app-menu>
  <app-game-board
    [width]="width"
    [height]="height"
    [game]="gameDto$ | async"
    [myColor]="playerColor$ | async"
    [dicesVisible]="dicesVisible"
    (addMove)="doMove($event)"
    (moveAnimFinished)="moveAnimFinished()"
  ></app-game-board>
  <div class="dices" #dices>
    <app-dices
      *ngIf="dicesVisible"
      [dices]="dices$ | async"
      [color]="diceColor"
    ></app-dices>
  </div>
  <div class="board-buttons" #boardButtons>
    <app-board-buttons
      [undoVisible]="undoVisible"
      [sendVisible]="sendVisible"
      [rollButtonVisible]="rollButtonVisible"
      [newVisible]="newVisible"
      (onUndoMove)="undoMove()"
      (onSendMoves)="sendMoves()"
      (onRoll)="rollButtonClick()"
      (onNew)="newGame()"
    ></app-board-buttons>
  </div>
</div>
