app-game-board {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.messages {
  display: inline-block;
}

.game-container {
  position: relative;
  max-width: 800px;
}

.abort-button {
  position: absolute;
}

.board-buttons {
  display: inline-block;
  position: absolute;
}

.dices {
  display: inline-block;
  position: absolute;
}
