<div>
  <app-game-board
    [width]="width"
    [height]="height"
    [game]="gameDto$ | async"
    [myColor]="playerColor$ | async"
    (addMove)="doMove($event)"
    (moveAnimFinished)="moveAnimFinished()"
  ></app-game-board>
  <br />
  <app-dices *ngIf="dicesVisible" [dices]="dices$ | async"></app-dices>
  <button (click)="undoMove()" *ngIf="undoVisible" class="cancelButton">
    Undo
  </button>
  <button (click)="sendMoves()" *ngIf="sendVisible" class="sendButton">
    Send
  </button>
  <button
    *ngIf="rollButtonVisible"
    (click)="rollButtonClick()"
    class="rollButton"
  >
    Roll
  </button>
</div>
