<div>
  <app-game-board
    [width]="width"
    [height]="height"
    [game]="gameDto$ | async"
    [myColor]="playerColor$ | async"
    (addMove)="doMove($event)"
    (moveAnimFinished)="moveAnimFinished()"
  ></app-game-board>
  <br />
  <app-dices
    [dices]="dices$ | async"
    [showRollButton]="showRollButton"
  ></app-dices>
  <button (click)="undoMove()" *ngIf="undoVisible" class="cancelButton">
    Undo
  </button>
  <button (click)="sendMoves()" *ngIf="!sendHidden" class="sendButton">
    Send
  </button>
</div>
