button {
  margin: 8px;
  height: 50px;
  border: 1px solid black;
  color: black;
  font-size: large;
}

.sendButton {
  background-color: #28DD2E;
}

.cancelButton {
  background-color: #dd8928;
}

app-game-board {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
