.game-container {
  animation: fadein 2s;
  margin: auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.app-menu {
  position: absolute;
}

.messages {
  position: absolute;
  display: inline-block;
}

.game-container {
  position: relative;
  max-width: 1024px;
}

.abort-button {
  position: absolute;
  right: 0;
}

.board-buttons {
  display: inline-block;
  position: absolute;
}

.dices {
  display: inline-block;
  position: absolute;
}
