.login-buttons {
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 16px;

  div {
    display: flex;
    color: #bbb;
    text-shadow: -1px -1px #333;
    font-weight: 600;
    align-items: center;
  }

  img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
}
