.login-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 330px;
  transform: scaleY(0) scaleX(0);
  transition: all 500ms;
}

.show {
  transform: scaleY(1) scaleX(1);
}

button {
  margin: 8px 8px 0 0;
  padding-top: 2;
  padding-bottom: 2;

  div {
    display: flex;
    color: #bbb;
    font-weight: 500;
    align-items: center;
    justify-content: start;
  }

  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 4px;
  }
}
