.login-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 330px;
  transform: scaleY(0) scaleX(0);
  transition: all 500ms;
}

.show {
  transform: scaleY(1) scaleX(1);
}

.buttonParent {
  margin-right: 15px;
  margin-top: 15px;
}

app-button {
  margin-right: 15px;
  margin-top: 15px;

  div {
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: flex-start;
  }

  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 4px;
  }
}
