<ng-container *ngIf="!isLoggedIn">
  <button
    class="flat-button"
    (click)="show = !show"
    style="text-align: center; margin-top: 10px; margin-bottom: 0"
  >
    Sign in
  </button>
  <div [ngClass]="{ show: show }" class="login-buttons">
    <button class="black-button" (click)="facebookLoginClick()">
      <div>
        <img src="assets/images/facebook.png" />
        Facebook
      </div>
    </button>
    <button class="black-button" (click)="googleLoginClick()">
      <div>
        <img src="assets/images/google.jpg" />
        Google
      </div>
    </button>
    <button class="black-button" (click)="passwordLoginClick()">
      <div>Password</div>
    </button>
  </div>
</ng-container>
