<div class="container">
  <button (click)="sendMoves()" *ngIf="sendVisible" class="default-button">
    {{ 'boardbuttons.done' | translate }}
  </button>
  <button (click)="undoMove()" *ngIf="undoVisible" class="secondary-button">
    {{ 'boardbuttons.undo' | translate }}
  </button>
  <button
    *ngIf="rollButtonVisible"
    (click)="rollButtonClick()"
    class="default-button"
  >
    {{ 'boardbuttons.roll' | translate }}
  </button>
  <button (click)="newGame()" *ngIf="newVisible" class="default-button">
    {{ 'boardbuttons.new' | translate }}
  </button>
  <button (click)="exitGame()" *ngIf="exitVisible" class="secondary-button">
    {{ 'boardbuttons.exit' | translate }}
  </button>
  <button
    (click)="resign()"
    *ngIf="acceptDoublingVisible"
    class="red-button smaller"
  >
    {{ 'boardbuttons.resign' | translate }}
  </button>
  <button
    (click)="acceptDoubling()"
    *ngIf="acceptDoublingVisible"
    class="blue-button smaller"
  >
    {{ 'boardbuttons.acceptDoubling' | translate }}
    {{ doublingFactor }}<i class="fas fa-times"></i>
  </button>
  <button
    (click)="requestDoubling()"
    *ngIf="requestDoublingVisible"
    class="blue-button"
  >
    {{ doublingFactor }}<i class="fas fa-times"></i>
  </button>
</div>
