.sendButton,
.rollButton {
  background-color: #28DD2E;
  border-color: #146816;
  color: #0d420e;

  &:focus {
    background-color: #1d9e22;
  }
}

.undoButton {
  background-color: #dd8928;
  border-color: #794a15;
  color: #42290c;

  &:focus {
    background-color: #af6c20;
  }
}


button {
  margin: 4px;
  padding: 6px;
  border: 2px solid black;
  font-size: 20px;
  border-radius: 25%;

  &:hover {
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
  }

  &:focus {
    outline: none;
  }

}
