.container {
  display: flex;

  button {
    margin: 4px;

    @media screen and (max-height: 445px) {
      font-size: 16px !important;
      padding: 6px 12px 6px 12px !important;

    }

    i {
      margin-left: 3px;
    }

    &.smaller {
      font-size: 17px;
    }
  }

  .help-button {
    animation: bounce 1s ease-in-out 3;
  }

  @keyframes bounce {
    to {
        transform: scale(1);
    }
    from {
      transform: scale(1.1);
    }
  }


}
