<button (click)="sendMoves()" *ngIf="sendVisible" class="default-button">
  {{ 'boardbuttons.done' | translate }}
</button>
<button (click)="undoMove()" *ngIf="undoVisible" class="secondary-button">
  {{ 'boardbuttons.undo' | translate }}
</button>
<button
  *ngIf="rollButtonVisible"
  (click)="rollButtonClick()"
  class="default-button"
>
  {{ 'boardbuttons.roll' | translate }}
</button>
<button (click)="newGame()" *ngIf="newVisible" class="default-button">
  {{ 'boardbuttons.new' | translate }}
</button>
<button (click)="exitGame()" *ngIf="exitVisible" class="secondary-button">
  {{ 'boardbuttons.exit' | translate }}
</button>
