<div class="app-menu">
  <button *ngIf="!open" class="flat-button open-button" (click)="openClick()">
    <i class="fas fa-bars"></i>
  </button>
  <div
    [ngClass]="{ show: open === true, hide: open === false }"
    class="overlay"
  >
    <button *ngIf="open" class="flat-button closeButton" (click)="closeClick()">
      &times;
    </button>
    <div *ngIf="open" class="overlay-content">
      <button class="flat-button" (click)="flipClick()">
        <i class="fas fa-sync"></i>
        {{ 'menu.rotate' | translate }}
      </button>
      <br />
      <!-- <button class="flat-button">Change theme</button><br /> -->
      <button class="flat-button" (click)="resignClick()">
        <i class="fas fa-flag"></i>
        {{ 'menu.resign' | translate }}
      </button>
      <br />
    </div>
  </div>
</div>
