<div class="app-menu">
  <button *ngIf="!open" class="open-button" (click)="openClick()">
    <i class="fas fa-bars"></i>
  </button>
  <div
    [ngClass]="{ show: open === true, hide: open === false }"
    class="overlay"
  >
    <button *ngIf="open" class="closeButton" (click)="closeClick()">
      &times;
    </button>
    <div *ngIf="open" class="overlay-content">
      <button class="glass" (click)="flipClick()">Rotate</button><br />
      <button class="glass">Change theme</button><br />
      <button class="glass" (click)="resignClick()">Resign</button><br />
    </div>
  </div>
</div>
