@import '../../../../styles/styles.scss';


.open-button {
  color: #ddd;
  font-size: 20px;
  border: none;
  position: absolute;
  top: 20px;
  z-index: 1;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  //   height: 100%;
  width: 0;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.show {
  width: 50%;
  animation: pull-down;
  animation-duration: 0.5s;
}

.hide {
  animation: pull-up;
  animation-duration: 0.5s;
}

@keyframes pull-down {
  from {
    width: 0;
  }

  to {
    width: 50%;
  }
}

@keyframes pull-up {
  from {
    width: 50%;
  }

  to {
    width: 0;
  }
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 50px;

  button {
    color: #bbb;
    margin-bottom: 16px;
  }
}

/* Position the close button (top right corner) */
.overlay .closeButton {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
  color: #ddd;
}
