<ng-container *ngIf="messages && message">
  <div class="message-border">
    <div class="buttons-container">
      <button class="flat-button delete-button" (click)="deleteClick()">
        Delete <i class="fas fa-trash-alt"></i>
      </button>
      <button class="flat-button next-button" (click)="nextClick()">
        Next <i class="far fa-arrow-alt-circle-right"></i>
      </button>
    </div>
    <p>{{ message.date }}</p>
    <p>From: {{ message.sender }}</p>
    <app-share-prompt
      *ngIf="message.type === MessageType.sharePrompt"
    ></app-share-prompt>
    <p *ngIf="message.type === MessageType.sharePrompt">{{ message.text }}</p>
  </div>
</ng-container>
<ng-container *ngIf="!message">
  <p>No more messages</p>
</ng-container>
