.message-border {
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;

  button {
    font-size: 14px;
    font-weight: 600;
  }
}

.message-container {
  position: relative;
  top: 0;
  padding: 16px;
  border-radius: 5px;
  transition: opacity 300ms, top 300ms;
}

.hide {
  opacity: 0;
  top: 300px;
}
