<ng-container *ngIf="messages && message">
  <div class="app-colors">
    <div class="buttons-container">
      <button class="flat-button delete-button" (click)="deleteClick()">
        {{ 'messageread.delete' | translate }} <i class="fas fa-trash-alt"></i>
      </button>
      <button class="flat-button next-button" (click)="nextClick()">
        {{ 'messageread.next' | translate }}
        <i class="far fa-arrow-alt-circle-right"></i>
      </button>
    </div>
    <p>{{ message.date }}</p>
    <p>{{ 'messageread.from' | translate }}: {{ message.sender }}</p>
    <app-share-prompt
      *ngIf="message.type === MessageType.sharePrompt"
    ></app-share-prompt>
    <p *ngIf="message.type === MessageType.sharePrompt">{{ message.text }}</p>
  </div>
</ng-container>
<ng-container *ngIf="!message">
  <p>{{ 'messageread.nomore' | translate }}</p>
</ng-container>
