.message-border {
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;

  button {
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    border-radius: 15px;

    i {
      margin-left: 4px;
      margin-right: 0;
    }
  }
}

.message-container {
  margin-top: 4px;
  position: relative;
  top: 0;
  left: 0;
  padding: 16px;
  border-radius: 5px;
  transform: scaleY(1) scaleX(1);
  transition: all 300ms;
  opacity: 1;
}

.hide {
  animation: nextFrames 600ms; // timing-function delay iteration-count direction fill-mode;
}

.deleteAnim {
  animation: deleteFrames 600ms; // timing-function delay iteration-count direction fill-mode;
}

@keyframes deleteFrames {
  0% {
    transform: scaleX(1) scaleY(1);
    top: 0px;
    left: 0px;
    opacity: 1;
  }

  49% {
    transform: scaleX(0) scaleY(0);
    top: -200px;
    left: -110px;
    opacity: 0;
  }

  50% {
    transform: scaleX(1) scaleY(1);
    top: 0px;
    left: 300px;
    opacity: 0;
  }

  100% {
    transform: scaleX(1) scaleY(1);
    top: 0px;
    left: 0px;
    opacity: 1;
  }
}


@keyframes nextFrames {
  0% {
    left: 0px;
    opacity: 1;
  }

  49% {
    left: -300px;
    opacity: 0;
  }

  50% {
    left: 300px;
    opacity: 0;
  }

  100% {
    left: 0px;
    opacity: 1;
  }
}
