.message-border {
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;

  button {
    font-size: 14px;
    font-weight: 600;
  }

}
