h1 {
  text-align: center;
}
.list-container {
  display: inline-block;
  max-height: 500px;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  height: 60vh;
}

.item-title {
  font-size: small;
  font-weight: 600;
  padding-left: 10px;
}

.feedback-text {
  padding-left: 20px;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
}
