label {
  display: inline-block;
  width: 35px;
  height: 25px;
  border: 1px solid #555;
  color: #555;
  border-radius: 3px;
  margin: 8px;
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
}

.diceUsed {
  background-color: #ccc;
  border-color: #888;
  color: #888;
}
