h1 {
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 25px;
}

.center {
  text-align: center;
}

.about-container {
  position: relative;
}

.dice {
  position: absolute;
  display: inline-block;
  opacity: .6;
  margin-left: 15px;
  cursor: pointer;
}

.share-container {
  text-align: center;

  .share {
    display: inline-block;
    width: 300px;
  }
}

.version {
  text-align: right;
}
