h1 {
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 25px;
}

.center {
  text-align: center;
}

.about-container {
  position: relative;
}

.dice {
  position: absolute;
  display: inline-block;
  opacity: 0.6;
  margin-left: 15px;
  cursor: pointer;
}

.share-container {
  text-align: center;

  .share {
    display: inline-block;
    width: 300px;
  }
}

.version {
  text-align: right;

  i {
    color: rgb(31, 149, 196);
  }
}

.versionInfo {
  position: absolute;
  color: rgb(44, 44, 44);
  background-color: white;
  padding-right: 30px;
  right: 0;
  border-radius: 4px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
