<h1>{{ title }}</h1>
<form [formGroup]="formGroup" (submit)="submit()">
  <label [ngClass]="{ error: error('email') }">
    {{ labelText('email') }}<br />
    <input formControlName="email" type="email" class="longer" autofocus />
  </label>
  <small *ngIf="emailExists" class="error"
    >The email adress is already registred</small
  >
  <label *ngIf="create" [ngClass]="{ error: error('name') }">
    {{ labelText('name') }}<br />
    <input formControlName="name" type="text" />
  </label>

  <label [ngClass]="{ error: error('password') }">
    {{ labelText('password') }}<br />
    <input formControlName="password" type="password" />
  </label>
  <label *ngIf="create" [ngClass]="{ error: error('repeat_password') }">
    {{ labelText('repeat_password') }}<br />
    <input formControlName="repeat_password" type="password" />
  </label>
  <p *ngIf="invalidLogin" class="error">
    {{ 'password.incorrect' | translate }}
  </p>
  <p class="error">{{ formErrors() }}</p>
  <div class="buttons">
    <button
      *ngIf="!create"
      class="black-button"
      (click)="createClicked()"
      type="button"
    >
      {{ 'password.newplayer' | translate }}
    </button>
    <button class="default-button" type="submit">
      {{
        create
          ? ('password.create' | translate)
          : ('password.login' | translate)
      }}
    </button>
  </div>
</form>
