form {
  display: flex;
  flex-direction: column;

  label {
    margin-top: 10px;
  }

  input {
    font-size: 20px;
  }

  .longer {
    width: 400px;
  }

  .error {
    color: var(--error-color);
  }

  p {
    margin: 4px 0;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  app-button {
    margin-left: 20px;
  }
}
