@import '../../../../styles/styles.scss';

.app-account-container {
  display: flex;
}

.app-account {
  &__menu-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    top: 50px;

    button {
      font-size: 16px !important;
    }
  }
}

button {
  font-size: 16px;
}
