<div>
  <button *ngIf="user" class="flat-button" (click)="nameClick()">
    {{ Name }}
  </button>
</div>
<div *ngIf="toggle" class="app-account__menu-panel">
  <app-select-language></app-select-language>
  <button class="flat-button" (click)="editAccount()">
    {{ 'accountmenu.edit' | translate }}
  </button>
  <button class="flat-button" (click)="logoutClick()">
    {{ 'accountmenu.logout' | translate }}
  </button>
  <button *ngIf="user?.isAdmin" class="flat-button" (click)="adminPage()">
    Admin
  </button>
</div>
