$size: 36px;
$half: 18px;

.scene {
  width: $size;
  height: $size;
  perspective: 150px;
  display: inline-block;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s linear;
}

.cube__face {
  position: absolute;
  width: $size;
  height: $size;
  text-align: center;
  // opacity: 0.5;
  background-size: auto;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ($half);
}

.cube__face--right {
  transform: rotateY(90deg) translateZ($half);
}

.cube__face--back {
  transform: rotateY(180deg) translateZ($half);
}

.cube__face--left {
  transform: rotateY(-90deg) translateZ($half);
}

.cube__face--top {
  transform: rotateX(90deg) translateZ($half);
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ($half);
}

.cube {
  transform: translateZ(-$half);
}

.cube.show-front {
  transform: translateZ(-$half) rotateY(0deg);
}

.cube.show-right {
  transform: translateZ(-$half) rotateY(-90deg);
}

.cube.show-back {
  transform: translateZ(-$half) rotateY(-180deg);
}

.cube.show-left {
  transform: translateZ(-$half) rotateY(90deg);
}

.cube.show-top {
  transform: translateZ(-$half) rotateX(-90deg);
}

.cube.show-bottom {
  transform: translateZ(-$half) rotateX(90deg);
}
