.scene {
  width: 50px;
  height: 50px;
  perspective: 150px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.cube__face {
  position: absolute;
  background-color: #111;
  color: #aaa;
  width: 50px;
  height: 50px;
  text-align: center;

  span {
    position: relative;
    left: 2px;
    font-family: 'Dice';
    font-size: 55px;
  }
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(25px);
}

.cube__face--right {
  transform: rotateY(90deg) translateZ(25px);
}

.cube__face--back {
  transform: rotateY(180deg) translateZ(25px);
}

.cube__face--left {
  transform: rotateY(-90deg) translateZ(25px);
}

.cube__face--top {
  transform: rotateX(90deg) translateZ(25px);
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(25px);
}

.cube {
  transform: translateZ(-25px);
}

.cube.show-front {
  transform: translateZ(-25px) rotateY(0deg);
}

.cube.show-right {
  transform: translateZ(-25px) rotateY(-90deg);
}

.cube.show-back {
  transform: translateZ(-25px) rotateY(-180deg);
}

.cube.show-left {
  transform: translateZ(-25px) rotateY(90deg);
}

.cube.show-top {
  transform: translateZ(-25px) rotateX(-90deg);
}

.cube.show-bottom {
  transform: translateZ(-25px) rotateX(90deg);
}
