.toplist {
  position: relative;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

td {
  min-width: 60px;
}

.close-button {
  font-family: Arial;
  position: absolute;
  right: -20px;
  top: -25px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  padding: 0;
  margin-right: 0;
  border: 1px solid white;
  border-radius: 50%;
}

.you {
  color: rgb(251, 251, 116);
  text-shadow: 0 0 5px rgb(251, 251, 116);
}
