<div class="account-edit-container" *ngIf="user">
  <ng-container *ngIf="!confirm">
    <h1>{{ 'accountedit.editaccount' | translate }}</h1>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <label
        >{{ 'accountedit.name' | translate }}: <input formControlName="name"
      /></label>
      <div class="error" *ngIf="formGroup.get('name')?.errors?.required">
        {{ 'accountedit.required' | translate }}
      </div>
      <div class="spread-out mt">
        <button type="button" (click)="cancel()" class="black-button">
          {{ 'accountedit.cancel' | translate }}
        </button>
        <button type="submit" class="default-button">
          {{ 'accountedit.save' | translate }}
        </button>
      </div>
      <div class="delete mt">
        <button type="button" (click)="deleteUser()" class="flat-button">
          {{ 'accountedit.delete' | translate }}
        </button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="confirm">
    <h1>{{ 'accountedit.delete' | translate }}</h1>
    <p>{{ 'accountedit.allyourgames' | translate }}</p>
    <p>{{ 'accountedit.sure' | translate }}</p>
    <div class="spread-out">
      <button class="black-button" type="button" (click)="cancel()">
        {{ 'accountedit.cancel' | translate }}
      </button>
      <button class="black-button" type="button" (click)="doDeletion()">
        {{ 'accountedit.yesdelete' | translate }}
        <i class="fas fa-exclamation-triangle yellow"></i>
      </button>
    </div>
  </ng-container>
</div>
