<div class="account-edit-container" *ngIf="user">
  <ng-container *ngIf="!confirm">
    <h1>{{ 'accountedit.editaccount' | translate }}</h1>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <div>
        <label [ngClass]="{ 'error-color': nameMissing() }"
          >{{
            nameMissing()
              ? ('accountedit.requiredname' | translate)
              : ('accountedit.name' | translate)
          }}<br />
          <input formControlName="name" class="longInput"
        /></label>
      </div>
      <div class="columns">
        <div>
          <div class="mt">
            <label class="container"
              >{{ 'accountedit.emailNotification' | translate }}<br />
              <input type="checkbox" formControlName="emailNotification" />
              <span class="checkmark"></span> </label
            ><br />
            <i class="email">({{ user.email }})</i>
          </div>
          <div class="mt">
            <label
              >{{ 'accountedit.language' | translate }}<br />
              <select formControlName="preferredLanguage">
                <option
                  *ngFor="let lang of Language.List"
                  [ngValue]="lang.code"
                >
                  {{ lang.name }}
                </option>
              </select>
            </label>
          </div>

          <div class="mt">
            <label
              >{{ 'accountedit.theme' | translate }}<br />
              <app-theme
                ngDefaultControl
                formControlName="theme"
                [currentTheme]="user?.theme"
              ></app-theme>
            </label>
          </div>
        </div>
        <div class="image mt">
          <img [src]="user.photoUrl" alt="" /><br />
          <label class="container"
            >{{ 'accountedit.showPhoto' | translate }}<br />
            <input type="checkbox" formControlName="showPhoto" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="spread-out mt">
        <button type="button" (click)="cancel()" class="black-button">
          {{ 'accountedit.cancel' | translate }}
        </button>
        <button type="submit" class="default-button">
          {{ 'accountedit.save' | translate }}
        </button>
      </div>
      <div class="delete mt">
        <button type="button" (click)="deleteUser()" class="flat-button">
          <i class="fas fa-trash-alt"></i>
          {{ 'accountedit.delete' | translate }}
        </button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="confirm">
    <h1>{{ 'accountedit.delete' | translate }}</h1>
    <p>{{ 'accountedit.allyourgames' | translate }}</p>
    <p>{{ 'accountedit.sure' | translate }}</p>
    <div class="spread-out">
      <button class="black-button" type="button" (click)="cancel()">
        {{ 'accountedit.cancel' | translate }}
      </button>
      <button class="black-button" type="button" (click)="doDeletion()">
        {{ 'accountedit.yesdelete' | translate }}
        <i class="fas fa-exclamation-triangle yellow"></i>
      </button>
    </div>
  </ng-container>
</div>
