.account-edit-container {
  .mt {
    margin-top: 12px;
  }

  .pl {
    padding-left: 12px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 30px;
  }

  .names {
    display: flex;

    input {
      width: 200px;
    }
  }

  .loginName {
    padding-left: 8px;

    input {
      color: rgb(105, 105, 105);
      font-style: italic;
    }
  }

  font-size: 20px;

  .spread-out {
    display: flex;
    justify-content: space-between;
  }

  .delete {
    margin-left: 2rem;
    button {
      font-size: 14px;
    }
  }

  label {
    font-size: 16px;
  }

  input {
    font-size: 20px;
    background-color: var(--input-bg-color);
  }

  .email {
    font-size: 16px;
  }

  .columns {
    display: flex;
    justify-content: space-between;
  }
}

/* The checkbox */
.container {
  display: inline-block;
  position: relative;
  padding-right: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 21px;
  width: 21px;
  background-color: #eee;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid var(--input-bg-color);
}

.container input:focus ~ .checkmark {
  border: 2px solid black;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
