<div
  class="app-chat"
  [ngClass]="{
    'app-chat__open': open$ | async,
    'app-chat__close': !(open$ | async)
  }"
>
  <div class="open-button">
    <button (click)="onClickOpen()" class="flat-button">
      <i class="fas fa-comments"></i>
      <span *ngIf="othersInChat" class="app-chat__counter">{{
        usersCount
      }}</span>
    </button>
  </div>
  <div class="grid" [ngClass]="{ 'grid-hidden': !(open$ | async) }">
    <button (click)="onClickClose()" class="close-button flat-button">X</button>
    <textarea
      class="conversation"
      readonly
      [textContent]="chatMessages$ | async"
      tabindex="-1"
    ></textarea>
    <textarea
      class="users"
      readonly
      [textContent]="users$ | async"
      tabindex="-1"
    ></textarea>
    <form
      [formGroup]="formGroup"
      (submit)="onSubmit()"
      autocomplete="chrome-off"
    >
      <input
        #msginput
        formControlName="message"
        type="text"
        class="msginput"
        placeholder="Enter chat messages here"
      />
    </form>
  </div>
</div>
