@import '../../../../styles/themes.scss';

.message-box {
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: var(--app-bg-color);
  opacity: 0.8;
  // border: rgb(165, 39, 39) 2px solid;
  border-radius: 5px;
  max-width: 300px;
  font-size: 18px;
  // backdrop-filter: blur(3px); //looks ugly
  padding-top: 1.2rem;

  animation: show_dialog_animation 0.4s linear forwards;
}

.step-counter {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  right: 2px;
  top: 1px;
}

.message-button-container {
  display: block;
  height: 45px;
  position: relative;
  margin-top: 10px;
}

.next-button {
  position: absolute;
  right: 0;
}

.back-button {
  position: absolute;
  left: 0;
}

@keyframes show_dialog_animation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
