@import '../../../styles/styles.scss';

.lobby-container {

  .title-container {
    position: relative;
    display: block;
  }

  h1 {
    color: white;
    font-family: 'Bebas Neue';
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 50px;
  }

  h1:before {
    content: attr(data-content);
    position: absolute;
    top: -52px;

    transform-origin: bottom;
    transform: rotateX(180deg);
    background: linear-gradient(0deg, #fff 0, transparent 80%);
    background-clip: text;
    color: transparent;
    opacity: 0.5;
  }

  h1.chinese:before {
    top: -32px;
  }

  button {
    margin-bottom: 8px;
    margin-left: 8px;
  }

  .guest-play-button {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .friend-play-button,
  .random-play-button {
    margin-bottom: 8px;
  }

  .account {
    position: absolute;
    right: 40px;
    top: 10px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    right: -230px;
  }

  to {
    opacity: 1;
    right: 0;
  }
}

.ai-button-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;

  .tip-message {
    max-width: 230px;
    width: 230px;
    position: absolute;
    right: 0;
    animation: fadein .5s;
    text-align: center;

    strong {
      color: rgb(202, 166, 136);
    }
  }
}
