@import '../../../styles/colors';

.lobby-container {
  .title-container {
    position: relative;
    display: block;
  }

  h1 {
    font-family: 'Bebas Neue';
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 50px;
  }

  h1:before {
    content: attr(data-content);
    position: absolute;
    top: -52px;

    transform-origin: bottom;
    transform: rotateX(180deg);
    // background: linear-gradient(0deg, $title-color 0, transparent 80%);
    background-clip: text;
    color: transparent;
    opacity: 0.5;
  }

  h1.chinese:before {
    top: -32px;
  }

  .account {
    position: absolute;
    right: 40px;
    top: 10px;
  }
}

.button-row {
  position: absolute;
  top: 5px;
  left: 4px;
  display: flex;
}

@keyframes fadein {
  from {
    opacity: 0;
    left: -230px;
  }

  to {
    opacity: 1;
    left: 0px;
  }
}

.ai-button-container {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;

  app-button {
    margin-right: 20px;
  }

  .tip-message {
    max-width: 230px;
    width: 230px;
    position: absolute;
    left: 0;
    top: -45px;
    animation: fadein 0.5s;

    strong {
      color: $tip-color;
    }
  }
}

.invite-friend {
  margin-top: 20px;
}

.update-button {
  position: absolute;
  bottom: 3px;
  left: 3px;
}
