@import '../../../styles/styles.scss';

.lobby-container {

  .title-container {
    position: relative;
    display: block;
  }

  text-align: center;

  h1 {
    color: white;
    font-family: 'Bebas Neue';
    font-size: 80px;
    margin-bottom: 80px;
  }

  h1:before {
    content: 'Backgammon';
    position: absolute;
    top: -52px;

    transform-origin: bottom;
    transform: rotateX(180deg);
    background: linear-gradient(0deg, #fff 0, transparent 80%);
    background-clip: text;
    color: transparent;
    opacity: 0.5;
  }

  button {
    margin-bottom: 8px;
  }

  .guest-play-button {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .friend-play-button,
  .random-play-button {
    margin-bottom: 8px;
  }

  .account {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
