<div class="lobby-container">
  <div class="top-list" *ngIf="user$ | async">
    <app-toplist-container
      [banner]="true"
      (bannerClick)="topListBannerClick()"
    ></app-toplist-container>
  </div>
  <ng-container *ngIf="!toplist">
    <div class="title-container">
      <h1
        class="title-color"
        [attr.data-content]="'backgammon' | translate"
        [ngClass]="{ chinese: (user$ | async)?.preferredLanguage === 'zh' }"
      >
        {{ 'backgammon' | translate }}
      </h1>
    </div>
    <div class="lobby">
      <div class="ai-button-container">
        <app-button (click)="playClick()">
          <i class="fas fa-coins"></i>
          {{ 'logincontainer.play' | translate }}
        </app-button>
        <app-button (click)="practiceClick()">
          {{ 'logincontainer.practice' | translate }}
        </app-button>
        <app-button *ngIf="isAdmin$ | async" (click)="editClick()">
          {{ 'Editor' | translate }}
        </app-button>
        <app-button (click)="tutorialClick()">
          {{ 'logincontainer.tutorial' | translate }}
        </app-button>
        <div *ngIf="showLoginTip && !isLoggedIn()" class="tip-message">
          <strong
            >{{ 'logincontainer.tip' | translate }}
            <i class="fas fa-carrot"></i></strong
          ><br />
          <em>{{ 'logincontainer.whenyousignin' | translate }}</em>
        </div>
      </div>
      <div *ngIf="isLoggedIn()">
        <br />
        <app-button (click)="inviteFriendClick()">
          {{ 'logincontainer.friend' | translate }}
        </app-button>
      </div>
    </div>
    <app-login-buttons
      (loggedinGoogle)="loginGoogle($event)"
      (loggedinFacebook)="loginFacebook($event)"
      (loggedinPassword)="loginPassword()"
      [isLoggedIn]="isLoggedIn()"
    ></app-login-buttons>
  </ng-container>
  <div class="account">
    <app-account-menu
      [user]="user$ | async"
      (logout)="logout()"
      (onEditAccount)="router.navigateByUrl('edit-user')"
      (onAdminPage)="router.navigateByUrl('adminpage')"
      (onAboutPage)="router.navigateByUrl('about')"
    >
    </app-account-menu>
  </div>
  <div class="button-row">
    <app-gold-button
      [user]="user$ | async"
      (getGold)="getGold()"
    ></app-gold-button>
    <app-new-messages
      [messages]="messages$ | async"
      (showMessages)="router.navigateByUrl('messages')"
    >
    </app-new-messages>
  </div>
</div>

<button
  *ngIf="hasNewVersion$ | async"
  class="update-button flat-button"
  (click)="updateApp()"
>
  <i class="fas fa-download"></i>
  {{ 'loadUpdates' | translate }}
</button>

<button
  *ngIf="!(hasNewVersion$ | async) && isLoggedIn()"
  class="feedback-button flat-button"
  (click)="feedbackClick()"
>
  <i class="fas fa-star"></i>
  {{ 'feedback.title' | translate }}
</button>
