<div class="lobby-container">
  <div class="top-list" *ngIf="user$ | async">
    <app-toplist-container
      [banner]="true"
      (bannerClick)="topListBannerClick()"
    ></app-toplist-container>
  </div>
  <ng-container *ngIf="!toplist">
    <div class="title-container">
      <h1
        class="title-color"
        [attr.data-content]="'backgammon' | translate"
        [ngClass]="{ chinese: (user$ | async)?.preferredLanguage === 'zh' }"
      >
        {{ 'backgammon' | translate }}
      </h1>
    </div>
    <app-login-buttons
      (onLogin)="login($event)"
      [isLoggedIn]="!!(user$ | async)"
    ></app-login-buttons>
    <div class="lobby">
      <!-- <button *ngIf="!(user$ | async)" class="guest-play-button flat-button" (click)="playClick()">
        Play as guest&nbsp;&nbsp;<i class="fas fa-info-circle" title="Guests can only play other guests"></i>
      </button> -->
      <ng-container *ngIf="isLoggedIn()">
        <button class="black-button" (click)="playClick()">
          <i class="fas fa-dice"></i>
          {{ 'logincontainer.random' | translate }}</button
        ><br />
        <button class="black-button" (click)="inviteFriendClick()">
          {{ 'logincontainer.friend' | translate }}
        </button>
      </ng-container>
      <div class="ai-button-container">
        <button class="black-button" (click)="playAiClick()">
          {{ 'logincontainer.playai' | translate }}
        </button>
        <div *ngIf="playAiAsGuestMessage && !isLoggedIn()" class="tip-message">
          <strong
            >{{ 'logincontainer.tip' | translate }}
            <i class="fas fa-carrot"></i></strong
          ><br />
          <em>{{ 'logincontainer.whenyousignin' | translate }}</em>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="account">
    <app-account-menu
      [user]="user$ | async"
      (logout)="logout()"
      (onEditAccount)="router.navigateByUrl('edit-user')"
      (onAdminPage)="router.navigateByUrl('adminpage')"
      (onAboutPage)="router.navigateByUrl('about')"
    >
    </app-account-menu>
  </div>
  <ng-container *ngIf="isLoggedIn()">
    <div class="button-row">
      <app-gold-button
        [user]="user$ | async"
        (getGold)="getGold()"
      ></app-gold-button>
      <app-new-messages
        [messages]="messages$ | async"
        (showMessages)="router.navigateByUrl('messages')"
      >
      </app-new-messages>
    </div>
  </ng-container>
</div>
