<div class="game-container">
  <div class="messages" #messages>
    <app-messages
      [initial]="width"
      [shown]="messageCenter"
      [message]="message$ | async"
    ></app-messages>
  </div>
  <app-menu
    class="app-menu"
    (flip)="this.flipped = !this.flipped"
    (resign)="resignGame()"
  ></app-menu>
  <app-game-board
    class="game-board"
    [width]="width"
    [height]="height"
    [game]="gameDto$ | async"
    [myColor]="playerColor$ | async"
    [dicesVisible]="dicesVisible"
    [flipped]="flipped"
    (addMove)="doMove($event)"
    (moveAnimFinished)="moveAnimFinished()"
  ></app-game-board>
  <div class="dices" #dices>
    <app-dices
      *ngIf="dicesVisible"
      [dices]="dices$ | async"
      [color]="diceColor"
    ></app-dices>
  </div>
  <div class="board-buttons" #boardButtons>
    <app-board-buttons
      [undoVisible]="undoVisible"
      [sendVisible]="sendVisible"
      [rollButtonVisible]="rollButtonVisible"
      [newVisible]="newVisible"
      [exitVisible]="exitVisible"
      (onUndoMove)="undoMove()"
      (onSendMoves)="sendMoves()"
      (onRoll)="rollButtonClick()"
      (onNew)="newGame()"
      (onExit)="exitGame()"
    ></app-board-buttons>
  </div>
  <div class="game-id">{{ (gameDto$ | async)?.id | uppercase }}</div>
</div>
