<div class="game-container">
  <div class="messages" #messages>
    <app-messages
      [initial]="width"
      [shown]="messageCenter"
      [message]="message$ | async"
    ></app-messages>
  </div>
  <app-menu
    *ngIf="!tutorial"
    class="app-menu"
    (rotate)="onRotated()"
    (flip)="onFlipped()"
    (resign)="resignGame()"
  ></app-menu>
  <div
    *ngIf="(gameDto$ | async)?.isGoldGame"
    class="players"
    [ngStyle]="{ height: height + 'px' }"
    [ngClass]="{ rotated: rotated, flipped: flipped }"
  >
    <app-player
      [playerDto]="(gameDto$ | async)?.whitePlayer"
      [doubling]="getDoubling(PlayerColor.white) | async"
    >
    </app-player>
    <div class="stake-container">
      <div class="stake" [ngClass]="{ hilightStake: animatingStake }">
        {{ lokalStake }}
        <i class="fas fa-coins"></i>
      </div>
    </div>
    <app-player
      [playerDto]="(gameDto$ | async)?.blackPlayer"
      [doubling]="getDoubling(PlayerColor.black) | async"
    >
    </app-player>
  </div>
  <app-game-board
    class="game-board"
    [width]="width"
    [height]="height"
    [game]="gameDto$ | async"
    [myColor]="playerColor$ | async"
    [dicesVisible]="dicesVisible"
    [rotated]="rotated"
    [flipped]="flipped"
    [themeName]="themeName"
    [timeLeft]="timeLeft$ | async"
    [tutorialStep]="tutorialStep$ | async"
    [editing]="editing"
    (addMove)="doMove($event)"
    (moveAnimFinished)="moveAnimFinished()"
    (addEditMove)="doEditMove($event)"
  ></app-game-board>
  <div class="dices" #dices>
    <app-dices
      *ngIf="dicesVisible"
      [dices]="dicesDto"
      [color]="diceColor"
    ></app-dices>
  </div>
  <div *ngIf="!tutorial" class="board-buttons" #boardButtons>
    <app-board-buttons
      [undoVisible]="undoVisible"
      [sendVisible]="sendVisible"
      [rollButtonVisible]="rollButtonVisible"
      [newVisible]="newVisible"
      [exitVisible]="exitVisible"
      [acceptDoublingVisible]="acceptDoublingVisible"
      [requestDoublingVisible]="requestDoublingVisible"
      [requestHintVisible]="requestHintVisible"
      [doublingFactor]="nextDoublingFactor"
      (onUndoMove)="undoMove()"
      (onSendMoves)="sendMoves()"
      (onRoll)="rollButtonClick()"
      (onNew)="newGame()"
      (onExit)="exitGame()"
      (onRequestDoubling)="requestDoubling()"
      (onAcceptDoubling)="acceptDoubling()"
      (onResign)="resignGame()"
      (onRequestHint)="requestHint()"
    >
    </app-board-buttons>
  </div>
  <div *ngIf="playAiQuestion" class="playAiQuestion app-colors">
    <app-play-ai-question
      (onPlayAi)="playAi()"
      (onKeepWaiting)="keepWaiting()"
    ></app-play-ai-question>
  </div>
  <div *ngIf="tutorial" class="tutorial-message">
    <app-tutorial-message
      [step]="tutorialStep$ | async"
      (next)="nextTutorialMessage()"
      (back)="previousTutorialMessage()"
    ></app-tutorial-message>
  </div>
  <div *ngIf="editing" class="editing-input">
    <app-input-copy [text]="gameString$ | async"></app-input-copy>
    <!-- <div class="game-id">{{ (gameDto$ | async)?.id | uppercase }}</div> -->
  </div>
</div>
