@import '../../../../styles/buttons';

.game-container {
  animation: fadein 2s;
  position: relative;
  max-width: 1024px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.game-board {
  display: inline-block;
  padding-top: 20px;
}

.messages {
  position: absolute;
  display: inline-block;
}

.board-buttons {
  display: inline-block;
  position: absolute;
}

.dices {
  display: inline-block;
  position: absolute;
}

.game-id {
  font-size: 10px;
  position: absolute;
  bottom: 3px;
  text-align: center;
  width: 100%;
  color: #777;
}

.players {
  position: absolute;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  width: calc(10% - 8px);
  overflow: hidden;
  margin-left: 8px;

  &.flipped {
    right: 0;
    flex-direction: column-reverse;
  }
}

.stake {
  text-align: center;
  font-size: 18px;
  @include glod-text();
}

.hilightStake {
  font-weight: 600;
  text-shadow: 0px 0px 5px rgba(251, 245, 183, 0.5);
}
