<p>Hello!</p>
<p>This site is still very new and we need more players.<br>
  Human to human game is after all the most fun. <i class="fas fa-smile yellow"></i><br><br>
  Please share on your social media.</p>
<div class="share-buttons">
  <a class="share-buttons__twitter"
    href="https://twitter.com/intent/tweet?text=Play%20Backgammon%20Online&url=https://backgammon.azurewebsites.net/">
    <i class="fab fa-twitter"></i> Tweet</a>
  <iframe
    src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fbackgammon.azurewebsites.net%2F&layout=button&size=large&appId=548694169142603&width=77&height=28"
    width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</div>
