<div *ngIf="textVisible">
  <form [formGroup]="formGroup" class="error-handler-form">
    <div class="send-button">
      <button type="submit" (click)="sendErrors()" class="flat-button">
        {{ 'errorhandler.sendreport' | translate }}
        <i class="fas fa-paper-plane"></i>
      </button>
      <button type="button" (click)="clearErrors()" class="flat-button">
        {{ 'errorhandler.clearerrors' | translate }}
        <i class="fas fa-times"></i>
      </button>
    </div>
    <textarea readonly="readonly" formControlName="errors"></textarea>
  </form>
</div>
<div class="error-handler-button">
  <button
    type="button"
    *ngIf="errors && !textVisible"
    class="flat-button error-color"
    (click)="showErrors()"
  >
    <i class="fas fa-exclamation-circle"></i>
    {{ 'errorhandler.error' | translate }}
  </button>
</div>
