<div *ngIf="textVisible">
  <form [formGroup]="formGroup" class="error-handler-text">
    <textarea readonly="readonly" formControlName="errors"></textarea>
    <div class="send-button">
      <button type="submit" (click)="sendErrors()" class="flat-button">Send report <i
          class="fas fa-paper-plane"></i></button>
      <button type="button" (click)="clearErrors()" class="flat-button">Clear errors <i
          class="fas fa-times"></i></button>
    </div>
  </form>
</div>
<div class="error-handler-button">
  <button *ngIf="errors && !textVisible" class="flat-button" (click)="showErrors()">Error <i
      class="fas fa-exclamation-circle"></i></button>
</div>
