.message {
  position: absolute;
  top: 0px;
  font-weight: 800;
  white-space: nowrap;
  opacity: 0;
  // -webkit-text-stroke-width: 0.5px;
  // -webkit-text-stroke-color: var(--body-color);
  z-index: 1;
  * {
    margin-left: 8px;
  }
}
