@import '../styles/colors';

// .app-container {
// }

.app-component {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1024px;
  height: 700px;
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 94px 21px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 94px 21px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 0px 94px 21px rgba(0, 0, 0, 0.43);
  overflow: hidden;

  @media screen and (max-height: 750px) {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  animation: fadein 1.5s;
}
