.app-component {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  width: 1024px;
  height: 700px;
  max-width: 100vw;
  max-height: 100vh;
  border: 2px solid #222;
  position: relative;
  border-radius: 15px;
}
