@import '../../../../styles.scss';

* {
  margin-bottom: 8px;
}

* :last-child() {
  margin-bottom: 0;
}

p {
  color: #bbb;
  font-size: 20px;
}

input {
  width: 700px;
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;

  button {
    @include hover-shadow;
  }
}

.start-button {
  @include default-button;
}

.copy-button {
  color: #bbb;
  font-size: 20px;

  background: none;
  border: none;
  @include hover-shadow;
}
