@import '../../../styles.scss';

.loggin-buttons {
  margin: 8px;

}

button {
  width: 342px;

  div {
    display: flex;
    align-items: center;
  }

  img {
    margin-right: 8px;
  }

  @include button;
}
