$body-bg-color: rgb(37, 37, 37);
$app-bg-color: #111;
$app-border-color: #222;
$text-color: #aaa;
$red: rgb(253, 82, 82);
$yellow: rgb(251, 251, 116);
$anchor-color: rgb(158, 158, 255);

$title-color: rgb(200, 200, 200);
$tip-color: rgb(202, 166, 136);

$message-bg-color: black;
$message-border-color: #888;

$option-text-color: black;
