// @import url('https://fonts.googleapis.com/css2?family=Bebas%20Neue&display=swap');
@import './buttons';

@font-face {
  font-family: 'Bebas Neue';
  src: url(../assets/fonts/BebasNeue-Regular.ttf) format("truetype");
}

span,
p,
div,
label,
td,
th,
h2 {
  font-family: Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: rgb(9, 29, 32);
  color: #aaa;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}
