// @import url('https://fonts.googleapis.com/css2?family=Bebas%20Neue&display=swap');
@import './buttons';

@import './colors';

@import './themes';

@font-face {
  font-family: 'Bebas Neue';
  src: url(../assets/fonts/BebasNeue-Regular.ttf) format("truetype");
}

span,
p,
div,
label,
td,
th,
h2,
select {
  font-family: Helvetica, Arial, sans-serif;
}

select {
  font-size: 20px;
  padding: 1px 2px;
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.yellow {
  color: $yellow;
}

.gold-text {
  @include glod-text();
}
