// ******************* Dark Theme ********************
.dark {
  --body-color: rgb(37, 37, 37);
  --text-color: #888;
  --app-bg-color: #141414;
  --title-color: #999;
  --anchor-color: rgb(158, 158, 255);
  --error-color: rgb(253, 82, 82);
  --chat-users-color: #c75720;
  --message-bg-color: #333;
  --input-bg-color: #bbb;
  --chat-text-color: white;

  select {
    background-color: var(--input-bg-color);
  }
}

// ******************* Light Theme ********************
.light {
  --body-color: #888;
  --text-color: #222;
  --app-bg-color: #aaa;
  --title-color: rgb(255, 255, 255);
  --anchor-color: rgb(71, 71, 112);
  --error-color: #962b2b;
  --chat-users-color: #c75720;
  --message-bg-color: #eee;
  --input-bg-color: white;
  --chat-text-color: black;
}

// ******************* Blue Theme ********************
.blue {
  --body-color: #889;
  --text-color: #224;
  --app-bg-color: #aac;
  --title-color: rgb(255, 255, 255);
  --anchor-color: rgb(71, 71, 112);
  --error-color: #962b2b;
  --chat-users-color: #c75720;
  --message-bg-color: #eee;
  --input-bg-color: white;
  --chat-text-color: black;
}

// ******************* Pink Theme ********************
.pink {
  --body-color: #988;
  --text-color: #422;
  --app-bg-color: #caa;
  --title-color: rgb(255, 255, 255);
  --anchor-color: rgb(112, 71, 71);
  --error-color: #962b2b;
  --chat-users-color: #c75720;
  --message-bg-color: #eee;
  --input-bg-color: white;
  --chat-text-color: black;
}

// ******************* Green Theme ********************
.green {
  --body-color: #898;
  --text-color: #242;
  --app-bg-color: #9b9;
  --title-color: rgb(255, 255, 255);
  --anchor-color: rgb(71, 112, 71);
  --error-color: #962b2b;
  --chat-users-color: #c75720;
  --message-bg-color: #eee;
  --input-bg-color: white;
  --chat-text-color: black;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

button {
  color: var(--text-color);
}

.text-color {
  color: var(--text-color);
}

@media screen and (max-height: 750px) {
  body {
    background-color: var(--app-bg-color);
  }
}

.app-colors {
  background: var(--app-bg-color);
}

.banner-gradient {
  background-image: linear-gradient(
    to right,
    var(--app-bg-color),
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0),
    var(--app-bg-color)
  );
}

.title-color {
  color: var(--title-color);

  &:before {
    background: linear-gradient(to top, var(--title-color) 0, transparent 80%);
  }
}

a {
  color: var(--anchor-color);

  &:visited {
    color: var(--anchor-color);
  }
}

.error-color {
  color: var(--error-color);
}

.message-background {
  background-color: var(--message-bg-color);
}
